body{
    font-family: "openDyslexic";
        src: url(file/resource/39C3CCF920030515B1DBFF22B7D91207394AD65C502267D8.woff);
    font-family: "openDyslexic";
        src: url("file/resource/429F001D200303FFF6E56F77B906690AB327C2FC06326420.woff");
        font-weight: bold;
    font-family: "openDyslexic";
        src: url("file/resource/429F0F3E20030EA721321F3491BA3D046063DCDC848F129B.woff");
        font-style: italic, oblique;
     font-family: "openDyslexic";
        src: url("file/resource/429F091E200300ABDC76AFFF8047FF061364FD7C83721D3F.woff");
        font-weight: bold;
        font-style: italic, oblique;
    }

nav,
.nav {
    color: white;
    background: linear-gradient(aqua, black);
}

main,
.main {
    background: linear-gradient(aqua, rgb(211, 25, 25));
}

.banner {
    width: 100%;
    height: auto;
}

.btn1 {
    color: green;
    background-color: red;
}

.btn2 {
    color: crimson;
    background-color: green;
}

footer,
.footer {
    background: linear-gradient(to top, aqua, black);
    color: white;
}

.flashy-text {
    color: aqua;
    animation: blink-animation 0.2s steps(5, start) infinite;
    -webkit-animation: blink-animation 0.2s steps(5, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}